
.blog-container{
    width:68%;
    padding-left: 2rem;
}



.blog-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    flex-direction: column;
    padding:2.5rem;
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.644);
}

h1{
    color: orange;
}

