

.foot-main{
    background-color: rgba(150, 42, 42, 0.938);
    color:black;
    text-align: "center";
    height: "15rem";
    margin-top: 100vh;
}

.align{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:960px){
    .align{
        display: flex;
        flex-direction: column;
        font-size: medium;
        justify-content: flex-end;
        margin-bottom: 0;
    }
   
}